/* // https://piccalil.li/blog/a-modern-css-reset */

:root {
  --clr-primary-300: hsl(360, 95%, 66%);
  --clr-primary-400: hsl(231, 66%, 59%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 95%);
  --clr-neutral-300: hsl(229, 8%, 60%);
  --clr-neutral-400: hsl(229, 31%, 21%);
  

  --fs-100: .3rem;
  --fs-200: .5rem;
  --fs-300: .85rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-500);
  
  --ff-primary: "Rubik", sans-serif;
  
  --fw-regular: 400;
  --fw-medium: 500;


  --size-400: 1rem; 
  --size-500: 1.25rem; 
  --size-600: 1.5rem;
  --size-700: 2rem;
  --size-800: 2.5rem;
  --size-900: 3rem;
  
  
}


@media (min-width: 50em) {
  :root{
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);
    --fs-nav: var(--fs-300);
    
  }

}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utlility classes */

.text-primary-300{
  color: var(--clr-primary-300);
}
.text-primary-400{
  color: var(--clr-primary-400);
}
.text-neutral-100 {
  color: var(--clr-neutral-100);
}
.text-neutral-300 {
  color: var(--clr-neutral-300);
}
.text-neutral-400 {
  color: var(--clr-neutral-400);
}

.bg-primary-300{
  background-color: var(--clr-primary-300);
}
.bg-primary-400{
  background-color: var(--clr-primary-400);
}
.bg-neutral-300 {
  background-color: var(--clr-neutral-300);
}
.bg-neutral-400 {
  background-color: var(--clr-neutral-400);
}

.fw-regular {
  font-weight: var(--fw-regular);
}
.fw-medium {
  font-weight: var(--fw-medium);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
}
.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
}

.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-900 {
  font-size: var(--fs-900);
}

.padding-block-900 {
  padding-block: var(--size-900);
}
.padding-block-800 {
  padding-block: var(--size-800);
}
.padding-block-700 {
  padding-block: var(--size-700);
}
.padding-block-600 {
  padding-block: var(--size-600);
}
.padding-inline-400 {
  padding-inline: var(--size-400);
}
.padding-top-700 {
  padding-top: var(--size-700);
}
.padding-bottom-700 {
  padding-bottom: var(--size-700);
}


.container {
  --max-width: 1200px;
  --padding: 2rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.content-center-container {
  --max-width: 900px;
  --padding: 2rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;

  text-align: center;
}
.content-center-container p {
  max-width: 47ch;
  margin-inline: auto;
}

.spacer :not(:first-child) {
  margin-top: var(--spacer, 1.5rem);
}

.even-columns{
  display: grid;
  gap: 1rem;
  grid-template-areas: 'img' 'text';
}



@media (min-width: 50em) {
  .even-columns{
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-template-areas: 'text img';
    place-content: center;
    margin-inline: auto;
  }

}


.hover-red:hover{
  color: var(--clr-primary-300);
  fill: var(--clr-primary-300);
  cursor: pointer;
}


.letter-space-400{
  letter-spacing: .1rem;
}

/* General Styling */

body{
  font-size: var(--fs-body);
  font-family: var(--ff-primary);
  color: var(--clr-neutral-400);
}


.btn {
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  font-size: var(--fs-300);
  padding: .8rem 2rem;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 6px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, .1);
  cursor: pointer;
  transition: .2s ease-in-out;
}
.btn:hover{
  background-color: var(--clr-neutral-100);
  border: 2px solid var(--clr-primary-400);
  color: var(--clr-primary-400);
}
.btn[datatype= 'bg-red'] {
  background-color: var(--clr-primary-300);
}
.btn[datatype= 'bg-red']:hover {
  background-color: var(--clr-neutral-100);
  border: 2px solid var(--clr-primary-300);
  color: var(--clr-primary-300);
}
.btn[datatype= 'bg-nav-red'] {
  background-color: var(--clr-primary-300);
  letter-spacing: .1rem;
  padding: .4rem 1.8rem;
  font-size: var(--fs-nav);
}
.btn[datatype= 'bg-nav-red']:hover {
  background-color: var(--clr-neutral-100);
  border: 2px solid var(--clr-primary-300);
  color: var(--clr-primary-300);
  font-size: var(--fs-nav);
}
.btn[datatype= 'inverted'] {
  background-color: var(--clr-neutral-200);
  color: var(--clr-neutral-400);
}
.btn[datatype= 'inverted']:hover {
  background-color: var(--clr-neutral-100);
  border: 2px solid var(--clr-neutral-400);
  color: var(--clr-neutral-400);
}

/* Primary Navigation */

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  font-size: var(--fs-300);
}
.menu-btn {
  display: none;
}

.nav-list {
  display: flex;
  gap: 2.3rem;
  align-items: center;
}
.nav-list li a {
  text-decoration: none;
  color: var(--clr-neutral-400);
  letter-spacing: .1rem;
  font-size: var(--fs-nav);
}
.dekstop-hidden{
  display: none;
}

@media (max-width: 50em) {
 
  .primary-navigation {
    display: none;

  }
  .primary-navigation[data-visible] {
    display: block;
    position: fixed;
    display: grid;
    background-color: hsl(231, 33%, 23%, .9);
    inset: 0;
  }

  .logo{
    position: relative;
    z-index: 1;
  }

 

  .menu-btn {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    padding: .1rem;
    cursor: pointer;
    z-index: 1;
  }

  .nav-list {
    display: grid;
    gap: 0rem;
    position: relative;
    top: 6rem;
    height: 200px;
    width: auto;
    padding: 0;
    text-align: center;
  }
  .nav-list li {
    border-top: 1px solid var(--clr-neutral-300);
    padding-block: 1.2rem ;
    margin-inline: 3rem ;
  }
  .nav-list li a {
    text-decoration: none;
    color: var(--clr-neutral-100);
    letter-spacing: .1rem;
    font-size: var(--fs-nav);
  }

  .btn[datatype= 'bg-nav-red']{
    background-color: transparent;
    border: 2px solid white;
    width: 100%;
  }

  .dekstop-hidden{
    display: block;
    margin-inline: auto;
    position: relative;
    top: 6rem;
  }
  .dekstop-hidden img {
    display: inline-block;
    margin-inline: 2rem  ;
  }
}

/* Component Styling */

.hero-section-text {
  grid-area: text;
}
.hero-section-img{
  grid-area: img;
  position: relative;
  z-index: -1;
}

.hero-section-img::before {
  content: "";
  position: absolute;
  inset: 12%;
  width: 100%;
  height: 85%;
  background-color: var(--clr-primary-400);
  border-bottom-left-radius: 8rem;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  z-index: -2;
}
.bookmark-section-img{ position: relative;}
.bookmark-section-img::before{
  content: "";
  position: absolute;
  inset: 25% -15%;
  width: 100%;
  height: 95%;
  background-color: var(--clr-primary-400);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 8rem;
  border-top-left-radius: 1rem;
  z-index: -2;

}
@media (max-width: 50em) {
  .hero-section-img::before {
    height: 90%;
    inset: 15%;
  }
  .bookmark-section-img::before {
    height: 100%;
    inset: 15% -35%;
  }
}

.hero-section-text p{
  max-width: 40ch;
}
.hero-section-text h1{
  line-height: 1.1;
}
.hero-section-text button{
  margin-right: 1rem;
}



@media (max-width: 50em) {
  .hero-section-text{
    text-align: center;
  }
  .hero-section-img{
    margin-inline: auto;
  }
  .bookmark-section-text{
    text-align: center;
  }
  .bookmark-section-img{
    margin-inline: auto;
  }
}

.feature-links ul{
  display: flex;
}

.feature-links ul li {
  margin-top: 4rem;
  padding: 0rem;
  border-bottom: 1px solid var(--clr-neutral-300);
  width: 100%;
}
.feature-links ul li.active {
  transition: all .2s;
  border-bottom: 3px solid var(--clr-primary-300);
}

@media (max-width: 50em) {
  .feature-links ul{
    display: block;
  }
  .feature-links ul li {
    margin-top: 1rem;
    padding-block: 1rem;
  }
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  padding-block: 2rem;
  width: 16rem;
  gap: 1rem;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 6px 8px hsl(229, 8%, 85%);
}
.card:nth-child(2){
  margin-top: 5rem;
}
.card:nth-child(3){
  margin-top: 8rem;
}
.card img {
  width: 1fr;
  margin-inline: auto;
}
.card p{
  padding-bottom: 2rem;
  border-bottom: .4rem dotted hsl(229, 8%, 80%);
}
.card button {
  margin-top: 1rem;
}

@media (max-width: 50em) {
  .cards {
    display: grid;
    place-content: center;
    gap: 4rem;
    margin-top: 4rem;
  }
  .card{
    margin: 0rem;
  }
  .card:nth-child(2){
    margin: 0rem;
  }
  .card:nth-child(3){
    margin: 0rem;
  }
}

.faq {
  place-content: center;
}

.faq-container{
  max-width:  32rem;
  margin-inline: auto;
}

.faq-list li {
  margin-block: 1rem;
  padding-block: 1rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.faq-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}
.faq-body{
  text-align: start;
  display: block;
} 

.faq-open p{
  transition: all .3s;
  clip-path: inset(0% 0% 0% 0%);
}
.faq-open .arrowImg {
  transition: all .3s;
  filter: invert(1);
  transform: rotate(180deg);
}
.faq-closed p {
  position: absolute;
  clip-path: inset(0% 0% 100% 0%);
}


.cat h2 {
  max-width: 20ch;
  margin-inline: auto;
  font-weight: var(--fw-medium);
}

.cat-form input{
  font-size: var(--fs-300);
  padding: 1.2rem 6rem 1rem 4rem;
  border: none;
  border-radius: 4px;
}


.cat-form button {
  padding: 1rem 2rem;
}

@media (max-width: 50em) { 
  .cat h2 {
    font-size: var(--fs-500);
  }
  .cat p {
    font-size: var(--fs-300);
  }

  .cat-form {
    display: grid;
  }
  .cat-form input{
    font-size: var(--fs-300);
    padding: .5rem 1.3rem;
    border: none;
    border-radius: 4px;
  }

  .cat-form button {
    padding: .5rem 1.3rem;
    width: 100%;
    margin-inline: auto;
  }
}  

.nav-wrapper-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.footer-nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.footer-nav-list li a {
  text-decoration: none;
  color: var(--clr-neutral-100);
}

.footer-nav-social-links {
  display: flex;
  gap: 3rem;
}

@media (max-width: 50em) {
  .nav-wrapper-footer {
    display: grid;
    place-content: center;
    text-align: center;
    font-size: var(--fs-500);
  }

  .secondary-navigation {
    margin-inline: auto;
  }
  .footer-nav-links {
    display: grid;
    place-content: center;
    margin-inline: auto;
    gap: 1rem;
  }

  .footer-nav-list {
    display: grid;
    place-content: center;
    gap: 1rem;
  }
  .footer-nav-social-links {
    display: grid;
    place-content: center;
    gap: 1rem;
    margin-top: 1.2rem;
  }  

}

.email-works{
 border: none;
 display: flex;
 justify-content: center;
}
.email-works span {
  display: none;
}
.email-works img {
  display: none;
}

.input-section {
  margin-right: 1rem;
}

.email-error{
  border: none;
  display: flex;
  justify-content: center;
}
.email-error .input-section {
  position: relative;
  background-color: var(--clr-primary-300);
  border: 4px solid var(--clr-primary-300);
  border-radius: 4px;
  width: auto;

  font-size: var(--fs-300);
}
.email-error img {
  display: block;
  position: absolute;
  top: 1rem;
  left: 90%;
}
.email-error span {
  display: block;
}

@media (max-width: 50em) {
  .email-works{
    border: none;
    display: block;
   }

  .email-error{
    border: none;
    display: block;
  }

  .input-section {
    margin-bottom: 1rem;
    max-width: 220px;
    margin-inline: auto;
  }

  .email-error img {
    display: block;
    position: absolute;
    top: .6rem;
    left: 11.5rem;
    width: 18px;
  }
}
